# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Dependencies
/node_modules
package-lock.json
yarn.lock
pnpm-lock.yaml

# Logs
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Angular Cache
/.angular/cache

# IDEs and Editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Testing & Coverage
/coverage
/test-results
/junit.xml

# Miscellaneous
.sass-cache/
/connect.lock
/libpeerconnection.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db